

@font-face {
    font-family: mainFont;
    src: url(Alkalami-Regular.ttf);
}
*
{
    box-sizing: border-box;
    
}

body {
    font-family: mainFont;
    font-family: Arial;
    background-color: #202731;
    background-image: radial-gradient( circle, rgba(32, 39, 49 ) 0%, rgba( 32, 39, 49,.8) 100% );
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 2%;
    
 }

.wrapper{
    margin-top: 0;
    
    color:white;
    
}
img
{
    max-width: 100%;
}
nav
{
    
    z-index: 11;
    background: rgba(32, 39, 49,.7);
    position: sticky;
    top:0;
    
}

nav ul
{
    margin:0;
    padding: 0;
    list-style: none;
    
    
}
.filter-white{
  filter: invert(99%) sepia(1%) saturate(483%) hue-rotate(55deg) brightness(115%) contrast(100%);
}
.filter-dark{
  
}


nav ul li:first-child
{
    padding: 1.2rem 1rem;
    color: #dd3f31;
    font-weight: bold;
    float: left;
}
nav a 
{
    display: block;
    text-decoration: none;
    color: white;
    padding: 1.5rem 1rem;
    float: right;
    font-size: 20px;
    margin-right: 2%;
    position: relative;
    
    
}

  
nav a::after{
    content: "";
    background: rgba(7, 39, 54,0.7);
    width: calc(100% + 20px);
    height: 0;
    position: absolute;
    bottom: -4px;
    left: -10px;
      transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  
  a:hover::after{
      height: calc(100% + 4px);
      
  }

nav img{
    height: 30px;
}

nav::after
{
    content:"";
    clear: both;
    display: table;
}


section{
    position: relative;
    height: auto;
}
.grid1
{
    display: grid;
    max-width: 100%;
    margin:auto;
    grid-template-columns: repeat(12,1fr);
    grid-gap:0px;
}
.col
{
    padding: 10px;
}
.grid1 .col-6
{
  grid-column: span 6;
  
  height: fit-content;
}

#left{
    padding: 10%;
}
#left h1{
    
    font-size: 60px;
    text-shadow: 2px 2px 8px black;
}
#left h2{
    font-size: 30px;
    text-shadow: 2px 2px 8px black;
}
#left p{
    font-size: 20px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 8px black;
    line-height: 1.3;
}
#left a{
    color:#dd3f31;
}

#right img{
    
    width: 60%;
    margin: auto;
    display: block;
    height: auto;
    border-radius: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.grid1 .col-12{
    grid-column: span 12;
    height: fit-content;
    padding: 20px;
}
#studies h1
{
    font-size: 30px;
    text-shadow: 2px 2px 8px black;
}


.blue{
    background: rgba(7, 39, 54,0.7);/*rgba(7, 39, 54,0.7);*/
    box-shadow:0px 0px 10px rgba(0,0,0,.5);
    padding:50px 40px;

}
.red{
    background: rgba(221, 63, 49,.9);
}
.pink{
    background: #ff0066;
}
.dark{
    background: #0f0f10;
}
.base{
    background: rgba(32, 39, 49,.7);
    box-shadow:0px 0px 10px rgba(0,0,0,.5);
    

}
.white{
    background: white;
}
.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}



.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 83px;
    transform: rotateY(180deg);
}

.wave .shape-fill {
    fill: rgba(32, 39, 49,.7);
}



.mobile-menu-button + input[type="checkbox"]
{
    display: none;
}
.mobile-menu-button + input[type="checkbox"]:checked ~ .navigation li:not(:first-child)
{
    display: block;
}
.mobile-menu-button span
{
    display: block;
    height: 4px;
    background: white;
    margin: 0 0 5px 0;
    border-radius: 2px;
    
}
.mobile-menu-button
{
    width: 50px;
    display: block;
    float: right;
    border: 1px solid rgba(255, 255, 255, .2);
    padding:10px;
    margin: 7px 5px;
    margin-top: 15px;
    display: none;
    border-radius: 10px;
   
   
}
.mobile-menu-button span:last-of-type
{
    margin:0;
}
@media (max-width:800px)
{
    
body{
    margin:0;
}
.navigation li:not(:first-child)
{
display: none;
}
.navigation li
{
    float: none;
    padding: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
nav ul li:first-child
{
 float: none;
}

.navigation a 
{
    padding: .8rem 1rem;
    float: none;   
}
.mobile-menu-button
{
    display: block;
}
}

/*timeline*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.timeline{
  width:100%;
  background: rgba(7, 39, 54,0.7);
  color:#fff;
  padding:50px 40px;
  box-shadow:0px 0px 10px rgba(0,0,0,.5);
}
.timeline ul{
  list-style-type:none;
  border-left:2px solid #094a68;
  padding:10px 5px;
}
.timeline ul li{
  padding:20px 20px;
  position:relative;
  cursor:pointer;
  transition:.5s;
}
.timeline ul li span{
  display:inline-block;
  background-color:#1685b8;
  border-radius:25px;
  padding:2px 5px;
  font-size:15px;
  text-align:center;
}
.timeline ul li .content h3{
  color:#dd3f31;
  font-size:17px;
  padding-top:5px;
}
.timeline ul li .content p{
  padding:5px 0px 15px 0px;
  font-size:15px;
}
.timeline ul li:before{
  position:absolute;
  content:'';
  width:10px;
  height:10px;
  background-color:#34ace0;
  border-radius:50%;
  left:-11px;
  top:28px;
  transition:.5s;
}
.timeline ul li:hover{
  background-color:#071f2a;
}
.timeline ul li:hover:before{
  background-color:#dd3f31;
  box-shadow:0px 0px 10px 2px #dd3f31;
}
@media (max-width:300px){
  .timeline{
    width:100%;
    padding:30px 5px 30px 10px;
  }
  .timeline ul li .content h3{
    color:#34ace0;
    font-size:15px;
  }

}

/*styled list*/


#dev_skills p {
  margin: 0 0 13px 0;
}

#dev_skills a {
  color: #fff;
}

#dev_skills .center { text-align: center; }

.container {
  width: 95%;
  max-width: 1220px;
  margin: 0 auto;
}

.episode {
  display: grid;
  grid-template-columns: 1fr 3fr;
  position: relative;
}

.episode__number {
  font-size: 5vw;
  font-weight: 600;
  padding: 10px 0;
  position: sticky;
  top: 0;
  text-align: center;
  height: calc(10vw + 20px);
  transition: all 0.2s ease-in;
}

.episode__content {
  border-top: 2px solid #fff;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 10px;
  padding: 15px 0;
}

.episode__content .title {
  font-weight: 600
}

.episode__content .story {
  line-height: 26px;
}

@media (max-width: 600px) {
  .episode__content {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 576px) {
  .episode__content .story {
    font-size: 15px;
  }
}

/*Animate on scroll*/
.hidden{
    opacity: 0;
    filter:blur(5px);
    transition: all 0.5s;
}
.show{
    opacity: 1;
    filter:blur(0);
}

